/.vs
/.vscode
/aaa.py
/another.py
/client2.py
/CricHQ.log
/listner.py
/mdnshostname.exe
/more2.py
/myZero.py
/pybonjour-1.1.1
/server.py
/venv
/__pycache__
CricHQ.log*
CricHQ support.docx
cricHQzeroConf.py
/build
#/dist/*.exe
CricHQServer.spec
